ul {
	list-style: none;
}

#container {
	width: 50%;
	margin: auto;
	background: #F4F4F4;
	border-radius: 6px;
	text-align: center;
	padding-bottom: 60px;
}

#container h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 4rem;
	color: #00BCD4;
}

#notepad {
	width: 90%;
	margin: auto;
	margin-top: -5px;
}
#top-mast {
	padding: 10px 0;
}
#todo-panel {
	margin-bottom: -10px;
}
#todo-backing {
	padding: 10px 0 10px 0;
}
.item-block {
	position: relative;
	margin-left: -40px;
	padding-top: 15px;
	padding-bottom: 10px;
	height: 30px;
}
li {
	position: relative;
}
.check {
	position: absolute;
	left: 10px;
	top: 15px;
}
.text-place {
	position: absolute;
	top: 15px;
	left: 40px;
}
.x-out {
	position: absolute;
	top: 15px;
	right: 25px;
	color: #666;
}
.strikeout {
	text-decoration: line-through;
	color: #C4BEBE;
}
#list_footer{
	position: relative;
	width: 100;
	height: 45px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0;
	margin: auto;
	/*margin-bottom: -5px;*/
}
#foot-pad {
	margin-top: -10px;
}

#left-todo {
	position: absolute;
	left: 40px;
	top: 15px;
	font-size: 0.5rem;
	margin-left: -20px;
}
#button-panel {
	position: absolute;
	left: 80px;
	margin-top: 3px;
}

.filters {
	display: inline-block;
	margin-right: 25px;
	/*margin-bottom: 8px;*/
}
.buttons {
	width: 30px;
	height: 10px;
}

#bottom_edge {
	width: 100%;
	margin-top: 52px;
	margin: auto;
}
.layer1 {
	width: 99%;
	height: 8px;
	margin: auto;
}
.layer2 {
	width: 98%;
	height: 5px;
	margin: auto;
}
